footer {
    margin-top: 40px;
}
footer .top_footer {
    padding: 60px 165px;
    background: #FBFBFB;
}
footer .top_footer .logo_footer{
    display: flex;
    align-items: center;
}
footer .footer_middle {
    margin: 68px 0;
}
footer .menu_footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
footer .menu_footer ul {
    margin: 0;
    padding: 0;
}
footer .menu_footer ul li {
    list-style: none;
}
footer .menu_footer ul li a {
    font-weight: 400;
    font-size: 0.9em;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}
@media screen and (max-width: 1023px) {
    footer .footer_middle .col8 {
        width: calc(100% - 30px);
    }
    footer .top_footer {
        padding: 60px 0;
    }
}
@media screen and (max-width: 767px) {
    footer .col8 {
        width: calc(100% - 30px);
    }
    footer .top_footer {
        padding: 40px 0;
    }
    footer .top_footer .col6 {
        width: calc(100% - 30px);
    }
    footer .menu_footer {
        flex-wrap: wrap;
    }
    footer .menu_footer .item:first-child {
        width: 100%;
        margin-bottom: 30px;
    }
    footer .footer_middle {
        margin: 45px 0;
    }
}
