.faq_section {
    padding: 80px 0;
    width: 100%;
    background: #76d77e;
}
.faq_section .name_faq {
    font-weight: 600;
    font-size: 1.5em;
    line-height: 18px;
    color: #FFFFFF;
}
.faq_section .desc_faq {
    font-weight: 500;
    font-size: 1.1em;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 30px;
    max-width: 390px;
}
.faq_section .image_faq {
    margin-top: 30px;
}
.wrapper_accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.accordion_item {
    width: 100%;
}
.accordion {
    background-color: transparent;
    cursor: pointer;
    padding: 28px 0 28px 33px;
    width: 100%;
    outline: none;
    transition: 0.4s;
    position: relative;
    border: 2px solid #FFFFFF;
    border-radius: 12.7245px;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1;
    color: #FFFFFF;
    text-align: left;
}
.accordion:after {
     content: "";
    position: absolute;
    right: 36px;
    top: 50%;
    display: block;
    width: 15px;
    height: 15px;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    transform: translate(0, -50%) rotate(-135deg);
    transition: all 0.2s ease-out;

 }
.accordion.active:after {
    transform: translate(0, -50%) rotate(-225deg);
 }
.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.list_recent {
    margin-bottom: 30px;
    overflow: hidden;
    padding: 15px 0 0 20px;
    font-size: 0.85em;
    line-height: 1.6;
    color: #fff;
}
@media screen and (max-width: 1023px) {
    .faq_section .name_faq {
        line-height: 26px;
    }
    .accordion {
        padding: 28px 50px 28px 33px;
    }
}
@media screen and (max-width: 767px) {
    .faq_section .col5 {
        width: calc(100% - 30px);
    }
    .faq_section .col7 {
        width: calc(100% - 30px);
    }
    .accordion {
        padding: 28px 54px 28px 20px;
        font-size: 1em;
    }
    .accordion:after {
        right: 25px;
    }
    .faq_section .image_faq {
        display: none;
    }
    .faq_section .desc_faq {
        margin-bottom: 30px;
    }
}
